<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Prodigious Test</title>
        <link href="App/Css/Vendors/bootstrap.min.css" rel="stylesheet" />
        <link href="App/Css/Vendors/angular-busy.min.css" rel="stylesheet" />
        <link href="App/Css/Vendors/ng-table.min.css" rel="stylesheet" />
        <link href="~/App/Css/Customs/common.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        <script src="App/Scripts/Vendors/jquery-1.10.2.js"></script>
        <script src="App/Scripts/Vendors/bootstrap.js"></script>
        <script src="App/Scripts/Vendors/angular.js"></script>
        <script src="App/Scripts/Vendors/angular-animate.js"></script>
        <script src="App/Scripts/Vendors/angular-sanitize.js"></script>
        <script src="App/Scripts/Vendors/angular-resource.js"></script>
        <script src="App/Scripts/Vendors/angular-ui-router.js"></script>
        <script src="App/Scripts/Vendors/angular-busy.js"></script>
        <script src="App/Scripts/Vendors/ng-table.js"></script>
        <script src="App/Scripts/app.js"></script>
        <script src="App/Scripts/Customs/Products/productListCntrl.js"></script>
        <script src="~/App/Scripts/Customs/Products/productDetailsCntrl.js"></script>
        <script src="App/Scripts/Customs/Products/productService.js"></script>
        <script src="App/Scripts/Customs/ngTableExtend/ngTableExtend.js"></script>
    </body>
</html>
